/** {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddddd;
}

.wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: white !important;
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    background-color: white;
    nav {
        
        width: auto;
        height: 70px;

        .navn {
            float: left;
            margin-top: 1.2rem;
            padding-left: .5rem;
        }

        ul {
            list-style-type: none;
            margin-left: 0;
            padding: 0;
            padding-top: 0.5rem;
            overflow: hidden;
            background-color:white;
          }
          
          li {
            list-style-type: none;
            float: right;
          }
          
          li a {
            display: block;
            color: black;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
          }

        .logo {
            float: left;
            max-width: 138px;
            max-height: 70px;
            margin-top: .6rem;
            margin-left: .7rem;

            img {
                
                max-width: 138px;
                max-height: 50px;
            }
        }
    }*/

@import 'base';

    .wrapper {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .slideshow {
        margin-top: 43px;
        width: auto;
        height: 371px;
        position: relative;

        .image {
            width: 100%;
            height: 371px;
        }
    }

    .titel {
        transform: translate(15px);
    }

    /*.billed img {
        width: 100%;
        height: 371px;
    }*/

    .content {
        margin-top: 3rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);

        img {
            width: 331px;
            height: 262px;
            transform: translate(4.5rem);
        }

        h3{
            text-align: center;
            width: 326.5px;
            border: 2px;
            border-style: solid;
            border-color: black;
            transform: translate(4.5rem, -15px);
        }


    }