@import 'base';

.wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.titel {
    transform: translate(15px);
    color: $red-color;
}

.slideshow {
    margin-top: 43px;
    width: auto;
    height: 371px;
    position: relative;

    .image {
        width: 100%;
        height: 371px;
    }
}

.tilbud {
    background-color: black;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;

    img {
        padding: 5rem 0 5rem 0;
        width: 5rem;
    }
}

.kontak {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    img {
        width: 50%;
    }
        
    p {
        padding-inline: 16px;
        color: white;
    }

    .redbox {
        background-color: $red-color;
        border-radius: 8px;
        padding: 0 0 0 18px;

    }

    .bluebox {
        background-color: $blue-color;
        border-radius: 8px;
        padding: 0 18px 0 0;
    }
}
